@CHARSET "UTF-8";
.kuan input {
	width: 300px;
	height: 30px;
	font-size: 16px;
	border: 1px solid #ff0000;
	float: left;
	margin-left : 190px;
	margin-top :100px
}

.an input {
	width: 150px;
	height: 50px;
	font-size: 24px;
	background: #00ffff;
	border: 1px solid #00ffff;
	margin-top :40px;
	margin-left : 260px;
}

.txt h1{
	text-indent: 120px;
	position:absolute;
	left:10px;
	top:10px
}