@CHARSET "UTF-8";

.kuan1 input {
	width: 300px;
	height: 30px;
	font-size: 16px;
	border: 1px solid #ff0000;
	float: left;
	margin-left : 140px;
	margin-top :120px
}

.kuan2 input {
	width: 300px;
	height: 30px;
	font-size: 16px;
	border: 1px solid #ff0000;
	float: left;
	margin-left : 140px;
	margin-top :55px
}

.txt1 h1{
	text-indent: 140px;
	position:absolute;
	left:10px;
	top:10px
}

.txt2 h1{
	text-indent: 140px;
	position:absolute;
	left:10px;
	top:80px
}

.txt3 h1{
	text-indent: 140px;
	position:absolute;
	left:10px;
	top:170px
}

.an input {
	width: 150px;
	height: 50px;
	font-size: 24px;
	background: #00ffff;
	border: 1px solid #00ffff;
	margin-top :40px;
	margin-left : 140px;
}

.bu button {
	width: 200px;
	height: 50px;
	font-size: 24px;
	background: #00ffff;
	border: 1px solid #00ffff;
	float: right
}